<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <properties>
        <property name="logDir">/Users/zhaomeng/Downloads/java_code/tmp</property>
    </properties>
<!--    配置appender-->
    <Appenders>
<!--        配置控制台输出-->
        <Console name="consoleAppender" target="SYSTEM_ERR">

        </Console>
<!--        配置文件输出-->
        <File name="fileAppender" fileName="${logDir}/log4j2.log">
<!--            配置文件输出格式-->
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %m%n"/>
        </File>
    </Appenders>

<!--    配置logger-->
    <Loggers>
<!--        配置rootLogger-->
        <Root level="trace">
<!--            引用Appender-->
            <AppenderRef ref="fileAppender"/>

        </Root>
    </Loggers>
</Configuration>


